<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Mix and Match Trades</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link href="/assets/stylesheets/bidstyle.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="/assets/javascripts/etrade.js"></script>

</head>

<body>

<div id="header"><img src="/assets/images/header_sky1.jpg" width="800" height="80" /></div>
<div id="menu">
  <p><a href="JavaScript:displayBrowse()" class="navigation">Browse</a> 
  <a href="search.html" class="navigation">Search</a> 
  <a href="/login" class="navigation">Login</a>
  <a href="/register" class="navigation">Register</a>
  <a href="register.html" class="navigation">Forgot Password</a>
  <a href="register.html" class="navigation">Confirmation Email</a></p>
</div>
<div id="shell"></div>
<div id="adds"></div>
<div id="content">
  <p class="p"><span class="bold">Bid Heaven eTrade</span> is an online trading site, that only charges for the adds you place. Bid Heaven has a web based email system, which protects your privacy by allowing you to communicate with potential buyers without exposing your real email.</p>
  <p class="p"><span class="bold">Bid Heaven eTrade</span> allows you to publish all the items you are listing, and to send out your personnal links to potential customers.</p>
  <p class="p"><span class="bold">Bid Heaven eTrade</span> allows you to trade merchandize instead of only selling it. You don't have to wait for the bidding to end to close a action. You can bid with cash of with something you have. Item you are bidding with can also be bidded on, which gives you a better chance of getting something for your trades.</p>
  <p class="p">Since the bidding can end ant eany time, you get the best offer without having to wait for the very last minute. </p>
  <p class="p"><span class="bold">Bid Heaven eTrade</span> is an answer to high fees of other online web sites. </p>
  <p class="p">Try <span class="bold">Bid Heaven eTrade</span> for free, check  it out here. </p>
</div>
<div class="style1" id="Layer1">Bid Heaven eTrade </div>
<div id="footer"></div>
<div class="bold" id="headerLoc">Home Page  --- logged in = <%=isAuthenticated %></div>
</body>
</html>
