<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Bid Heaven - eTrades</title>
<link href="/assets/stylesheets//bidstyle.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="/assets/javascripts/etrade.js"></script>


</head>

<body>

<div id="header"><img src="/assets/images/header_sky1.jpg" width="800" height="80" /></div>
<div id="shell"></div>
<div id="adds"></div>
<div id="content">
   <form name="registerForm" action="/register" method=post>
       <table>
	     <tr>
		    <td><p class="p">Choose a Customer Id (Screen name)</p></td>
		    <td><input id="username" name="username" type="text" size="20" ></td> 
		    <td><div id="customerIdMessage"></div></td> 
	     </tr>
		 <tr>
		    <td><p class="p">Choose a Password</p></td>
		    <td><input name="encrypted_password" type="password" size="20"  /></td>
		 </tr>
		 <tr>
		    <td><p class="p">Re-Type your Password</p></td>
		    <td><input name="confirm_password" type="password" size="20"  /></td>
		 </tr>
		 <tr>
		    <td><p class="p">Enter your eMail</p></td>
		    <td><input name="email" type="text" value="" size="20"  /></td>
		 </tr>
		 <!-- 
			 <tr>
		    <td><p class="p">Please copy image data below</p></td>
		    <td><img src="/mask" width="150" height="50" alt="Copy this data" /></td>
		 </tr>
		 <tr>
		    <td><p class="p">Image Data</p></td>
		    <td><input name="image_data" type="text" size="20"  /></td>
		    <td>&nbsp;</td>
		 </tr>
		-->
		 <tr>
		    <td>&nbsp;</td>
		    <td><input name="submit_btn" type="submit" value="Register" /></td>
		 </tr>
      </table>
  </form>
  <p class="p"></p>
</div>
<div class="style1" id="Layer1">Bid Heaven eTrade </div>
<div id="footer"></div>
<!-- <div class="bold" id="headerLoc">Register Page </div> -->
<div class="bold" id="headerLoc">Register Page  --- logged in = false</div>
</body>
</html>
