/* CSS Document */

.p {

font-family: Verdana, sans-serif;
font-size: 11px;
color: #000000;
line-height: 18px;
padding: 3px;

}
#header {
	position:absolute;
	left:22px;
	top:24px;
	width:800px;
	height:80;
	z-index:1;
}
#header_two {
	position:absolute;
	left:22px;
	top:107px;
	width:800;
	height:26px;
	z-index:2;
}
#menu {
	position:absolute;
	left:22px;
	top:126px;
	width:128px;
	height:474px;
	z-index:3;
}
#shell {
	position:absolute;
	left:22px;
	top:127px;
	width:800;
	height:580px;
	z-index:4;
}
#adds {
	position:absolute;
	left:631px;
	top:129px;
	width:188px;
	height:577px;
	z-index:5;
}
#content {
	position:absolute;
	left:153px;
	top:131px;
	width:477px;
	height:579px;
	z-index:6;
	overflow: auto;
}
#addMenu {
	position:absolute;
	left:151px;
	top:106px;
	width:477px;
	height:19px;
	z-index:10;
	background-color: #99FFCC;
}

#mailMenu {
	position:absolute;
	left:151px;
	top:106px;
	width:477px;
	height:19px;
	z-index:10;
	background-color: #99FFCC;
}
#accountMenu {
	position:absolute;
	left:151px;
	top:106px;
	width:477px;
	height:19px;
	z-index:10;
	background-color: #99FFCC;
}

#pleaseWait {
	position:absolute;
	left:251px;
	top:179px;
	width:153px;
	height:54px;
	z-index:10;
	background-color: #FF0000;
}

#exchange_id {
  display: none;
}

#cash_id {
  display: inline;
}

#itemPopUp {
	position:absolute;
	left:333px;
	top:164px;
	width:477px;
	height:150px;
	z-index:11;
	background-color: #00F0FF;
}

.bold {
	font-family: Verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
}
.navigation {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	display: block;
	background-color: #99CCFF;
	padding: 8px;
	width: 110px;
	text-decoration: none;
}

.navigation:hover {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	display: block;
	background-color: #CC6699;
	padding: 8px;
	width: 110px;
	text-decoration: none;
}

#Layer1 {
	position:absolute;
	left:419px;
	top:29px;
	width:286px;
	height:26px;
	z-index:7;
}
.style1 {
	font-family: Verdana, sans-serif;
	font-size: 24px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #FF66CC;
}
#footer {
	position:absolute;
	left:22px;
	top:709px;
	width:800px;
	height:26px;
	z-index:8;
	background-color: #CCCCCC;
}
#headerLoc {
	position:absolute;
	left:22px;
	top:106px;
	width:800px;
	height:19px;
	z-index:9;
	background-color: #99FFCC;
}

.navigationTop {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	display: inline;
	background-color: #99FFCC;
	padding: 2px;
	width: 70px;
	text-decoration: none;
}
.navigationTop:hover {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	display: inline;
	background-color: #FF9999;
	padding: 2px;
	width: 70px;
	text-decoration: none;
}

